header{
    display: flex;
    flex-wrap: wrap;
    background-color: #4c4c4c;
    box-shadow: 0 0 15px rgb(39, 36, 36);
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    color: lightgray;
}

a{
    text-decoration: none;
}

a:link{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:visited{
    color: black;
}

a:hover{
    color: lightgray;
}

.headerul{
    display: flex;
    list-style-type: none; 
    padding: 0;
    margin: 2%;
    font-size: 20px;
    justify-content: space-between;
}

.headerli{
    margin: 10px;
}

.introducao{
    color: lightgray;
    margin-top: 1%;
    margin-left: 1.5%;
    display: flex;
    flex-wrap: wrap;
    background-color: #4c4c4c;
    box-shadow: 0 0 15px rgb(39, 36, 36);
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 48%;
    text-align: center;
}

.topo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.destaque{
    color: lightgray;
    margin-top: 1%;
    margin-right: 1.5%;
    display: flex;
    flex-wrap: wrap;
    background-color: #4c4c4c;
    box-shadow: 0 0 15px rgb(39, 36, 36);
    text-align: center;
    flex-direction: column;
    border-radius: 10px;
    width: 48%;
}

.divtopo{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3%;
    justify-content: center;
}

.imgtop{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin: 1%;
}

.texttopo{
    margin: 1%;
}

.forunsdiv{
    color: lightgray;
    margin: 1%;
    margin-top: 0.2%;
    display: flex;
    flex-wrap: wrap;
    background-color: #4c4c4c;
    box-shadow: 0 0 15px rgb(39, 36, 36);
    text-align: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 90%;
}

.forunsul{
    list-style-type: none; 
    display: flex;
    justify-content: space-between;
    width: 96%;
}


.imgforuns{
    width: 150px;
    height: 120px;
    margin-bottom: 10%;
    border-radius: 10px;
    margin-top: 8%;
}

.bottonP{
    text-align: center;
}

.forunsli{
    margin-top: 1%;
}